/*########## Defaults ##########*/
nav,
header,
footer {
    display: block;
}

body {
    /*    background-color: aqua;*/
    line-height: 1;
    margin: 0;
    font-family: 'Helvetica';
}

.container {
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
    margin: auto;
    
    /*
    margin-bottom: 40px;
    margin-top: 10%;
    padding-top: 4%;
    padding-bottom: 4%;
*/
    background-color: #292939;
}

button {
    transition: 0.1s all;
    outline-style: none;
}

button:active {
    transform: scale(0.98);
}

.h1,
.h3,
.h4,
.h5,
.h6 {
    font-weight: lighter;
    color: white;
}

h2.my-name {
    font-weight: ;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 7%;
    padding-bottom: 7%;
}

.row::after {
    display: table;
    clear: both;
    content: "";
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25.00%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50.00%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75.00%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100.00%;
}

.col-left {
    width: 41.66%;
}

.col-right {
    width: 58.33%;
}

/*########## Navbar ##########*/
nav {
    width: 100%;
    margin: 0;
    padding: 5px;
    position: fixed;
    z-index: 10;
    /*    box-shadow: 0 1px 20px grey;*/
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #292939;

}

nav ul {
    background-color: #292939;
    overflow: hidden;
    margin: 0;
    padding: 0;

}

ul.topnav {
    height: 47px;
    position: relative;
    overflow-y: hidden;
    transition: height 0.2s linear;
}

ul.topnav li {
    list-style: none;
    float: left;
    
}

ul.topnav div {
    margin-left: 20px;
}

ul.topnav li.topnav-right {
    float: right;
}

ul.topnav li.topnav-right a {
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 10px;
}

ul.topnav li.topnav-right a.hebrew {
/*    padding-right: 14px;*/
    margin-right: 40px;
}

ul.topnav li a {
    display: block;
    text-decoration: none;
    min-height: 16px;
    padding: 14px;
    color: white;
}

ul.topnav a:hover {
    cursor: pointer;
    opacity: 0.7;
}

ul.topnav form.dropdownIcon {
    display: none;
}

/*########## Custom Styles ##########*/


/*########## Mobile ##########*/
@media screen and (max-width: 680px) {
    ul.topnav li.topnav-left {
        display: none;
    }

    ul.topnav form.dropdownIcon {
        padding: 14px;
        background-color: transparent;
        color: transparent;
        display: block;

    }

    ul.topnav form.dropdownIcon a {
        background-color: transparent;
        color: white;
        border: 0px;
        display: block;
        font-size: 20px;
    }

    /*Dropdown open*/
    ul.topnav.responsive {

        /*        transition: 0.15s;*/
    }

    ul.topnav.responsive li {
        display: inline;
        float: none;
    }

    ul.topnav.responsive li.topnav-right {
        display: block;
        float: right;
    }

    ul.topnav.responsive li.topnav-right a {
        display: block;
        float: right;
    }

    ul.topnav.responsive form.dropdownIcon input {
        display: block;
        float: none;
    }

    ul.topnav.responsive li input {
        display: block;
        text-align: left;
    }

    /*First Page - Mobile*/

    .container div.row div.col-left {
        width: 40%;
    }

    .container div.row div.col-left img {
        margin-left: 20%;
        width: 60%;
    }

    .container div.row div.col-right {
        width: 60%;
    }

    .container div.row div.col-right ul {
        margin-top: 5%;
        margin-right: 20%;
    }

    .container div.row div.col-right ul div.seperator {
        margin: 2px 0px 2px 0px;
        width: auto;
        max-width: 100%;
        height: 2px;
    }

    .container div.row div.col-right ul h2.my-name {
        display: none;
    }

    .container div.row div.col-right ul h2.my-name-mobile {
        display: block;
        margin-bottom: 0px;
    }

    .container div.row div.col-right ul h4 {
        margin-top: 0px;
        font-weight: 300;
        font-size: 18px;
        margin-top: 5%
    }

    .container div.row div.col-right ul div {
        margin-top: 40%;
        margin-left: -60%;
        text-align: center;
        line-height: 28px;
    }

    .container div.row .row div.col-right ul h1.seperator {
        font-size: 10px;
    }

    /*Projects Page - Mobile*/
    body div.container-projects {
        padding: 30% 0px 8% 0px;
    } 

    .container-projects div.row div.col-2 {
        width: 10%
    }

    .container-projects div.row div.col-8 {
        width: 80%
    }

    .container-projects div.row div.col-8 div.row div.project-info {
        width: 100%;
    }

    .container-projects div.row div.col-8 div.row div.img-holder {
        width: 100%;
        margin-bottom: 20px;
    }

    .container-projects div.row div.col-8 div.row div.project-info ul.responsibilities-list h5.responsibility {
        margin-bottom: 14px;
    }

    .container-projects div.row div.col-8 div.row div.project-info p {
        line-height: 50px;
        margin-bottom: 20px;
    }

    .row div.col-8 div.row div.project-info label.info-title {
        font-weight: 500;
        font-size: 24px;
        padding-left: 0px;
        margin-bottom: 30px;
    }

    .row div.col-8 div.row div.project-info p.proj-description {
        line-height: 25px;
        margin-bottom: 80px;
        padding-left: 0px;

    }

    .row div.col-8 div.row div.project-info ul.responsibilities-list {
        padding-left: 0px;
    }

    /*########## FSlider Mobile ##########*/
}

@media screen and (max-width: 1200px) {

    .container-projects div.row div.col-8 div.row div.project-info ul.responsibilities-list h5 {
        line-height: 20px;

    }

    .container-projects div.row div.col-8 div.row div.project-info p {
        line-height: 30px;
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 1600px) {
    .container div.row div.col-left img {
        margin-left: 60%;
        width: 35%;
    }

}


/*########## First Page ##########*/

.row {
    padding: 5%, 0%, 5%, 0%;
}

.row div.col-left {
    /*    background-color: brown;*/
}

.row div.col-right {
    padding: 0px;
    /*    background-color: blueviolet;*/
}

.row div.col-left img {
    margin-left: 55%;
    width: 40%;
    border-radius: 5%;
}

.row div.col-right ul {
    color: white;
    padding: 0px;
    margin-top: 0px;
    margin-right: 45%;
    margin-left: 0px;
}

div.seperator {
    margin-top: px;
    margin-bottom: 2px;
    background-color: white;
    width: 240px;
    height: 2px;
    max-width: 100%;
}

h2.my-name {
    margin-top: 0px;
    margin-bottom: 0px;
}

.row div.col-right ul h2.my-name-mobile {
    display: none;
}

.row div.col-right ul h4.ios-developer {
    margin-top: 10px;
    font-weight: inherit;
}

.row div.col-right ul h3 {
    margin-bottom: 5px;
    font-weight: normal;
}

.row div.col-right ul h3.who-i-am {
    margin-top: 60px;
}

.row div.col-right ul p {
    margin: 0px;
}

.row div.col-right ul div {
    line-height: 20px;
}

.row div.col-right ul button.ask-me {
    margin-top: 40px;
    border: none;
    color: #000000;
    background-color: #F8F8FF;
    padding-left: 16px;
    padding-right: 16px;

    height: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.fa.fa-whatsapp {}

/*########## Projects Screen ##########*/

.container-projects {
    padding: 8% 0px 8% 0px;
}

.container-projects div.row {
    padding-top: 10px;
    padding-bottom: 50px
}

.row div.col-8 div.row {
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.row div.col-8 div.row div.img-holder {
    width: 25%;
}

.slider {
    display: inline-flex;
    flex-wrap: wrap;
}

#slides {
    position: relative;
    z-index: 1;
    margin-bottom: 0px;
}

#overflow {
    width: 100%;
    overflow: hidden;
}

div.img-holder div.slider button.arrow {
    width: 10%;
    display: inline-flex;
    margin: auto;
    height: 20px;
    padding: 0px;
    opacity: 0.2;
    border: none;
    background-repeat: no-repeat;
    position: relative;
}

.arrow_right {
    background: url("chevron-right-solid.svg");
    background-position: center;
}

.arrow_left {
    background: url("chevron-left-solid.svg");
    background-position: center;
}

div.img-holder div.slider button.arrow:hover {
    opacity: 1;
}

.bullets {
    height: 5%;
    width: 100%;
    text-align: center;
}

.bullets div.bullet {
    height: 6px;
    width: 6px;
    background-color: #c5c5d1;
    display: inline-block;
    border-radius: 3px;
    opacity=0.7;
}

.bullets div.bullet.first_bullet {
    background-color: #292939;
}

.slides_container {
    margin: 0px;
    width: 80%;
}

#slides .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 500%;
    line-height: 0;
    margin-bottom: 0px;
}

#slides .slide div.slide-content img.iphone {
    width: 100%;
}

#slides .slide div.slide-content {
    width: 100%;
}

#slides .slide {
    width: 20%;
    height: 100%;
    float: left;
    display: block;
    margin: 0;
    padding: 0;
}

.slide-content {
    padding: 0;
    margin: 0;
}

.row div.col-8 div.row div.project-info {
    display: inline-block;
    margin: 0%;
    padding: 0px;
    width: 75%;
    color: #292939;
}

div.row div.project-info label.info-title {
    font-weight: 500;
    font-size: 24px;
    padding-left: 30px;

}


div.row div.project-info p.proj-description {
    font-weight: normal;
    line-height: 25px;
    margin-bottom: 40px;
    padding-left: 30px;

}

div.row div.project-info ul.responsibilities-list {
    padding-left: 30px;
}

.row div.col-8 div.row div.project-info ul.responsibilities-list h5.responsibility {
    font-weight: normal;
    font-size: 16px;
    margin: 0px;
    line-height: 28px;

}

.container-projects div.row h1.seperator {
    text-align: center;
    width: 100%;
    color: black;
    padding: 5%;
    margin: 0px;
}

/*########## Contact Us ##########*/
.contact-form {
    width: 100%;
    max-width: 700px;
    margin: auto;
    padding: 30px;
    padding-bottom: 0px;
    box-sizing: border-box;
}

.container-contact-me div.seperator {
    height: 3px;
    width: 178px;
    margin-left: 0px;
    padding-left: 0px;
}

.contact-form button.btn {
    background-color: #F8F8FF;
    color:  #000000;
    float: right;
    height: 47px;
    width: 33%;
    text-align: center;
    border: 0px;
    font-size: 20px;
    font-weight: bold;
}

.contact-form div.txtb {
    padding: 10px 0 10px 0;
    margin-left: 20px;
    margin: 0px;

}


.contact-form div.txtb.header {
    margin-bottom: 0px;
    padding-bottom: 10px;
    color: white;
    font-size: 26px;
}

.contact-form div.txtb input {
    width: 100%;
    padding: 10px;
    height: 45px;
    border: 0px;
    font-weight: lighter;
    font-size: 20px;
    box-sizing: border-box;
}

.contact-form div.txtb input::placeholder {
    font-weight: bold;
    font-size: 20px;
    color: #292939;
}

.contact-form div.txtb textarea {
    width: 100%;
    height: 200px;
    padding: 10px;
    border: 0px;
    font-weight: lighter;
    font-size: 20px;
    font-family: 'Helvetica';
    box-sizing: border-box;
}

.contact-form div.txtb textarea::placeholder {
    font-weight: bold;
    font-size: 20px;
    font-family: 'Helvetica';
    color: #292939;
}

.container-contact-me {
    padding-top: 3%;
    padding-bottom: 7%;
    background-color: #292939;
}

.container-contact-me input:focus {
    outline-style: none;
}

.container-contact-me textarea:focus {
    outline-style: none;
}

/*Error Labels*/
.container-contact-me label.error {
    font-weight: 100;
    font-size: 14px;
    color: #ff9a91;
    visibility: hidden;
    padding-left: 10px;
    display: block;
    padding-top: 4px;
    max-width: 100%;
}

/*########## Footer ##########*/
.container-footer {
    height: 270px;
    background-color: #181821;
}
